{% extends "layout.html" %}
{% set active_page = "gallery" %}

{% block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lg-transitions.min.css"
    integrity="sha256-0vtvedekqwImzpY0zJYKRDDEiEWSGclW01CGiznyB4M=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"
    integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"
    integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>


{% endblock %}

{% block content %}
<div id="lightgallery">
    {% for img in images %}
    <div class="border rounded float-left card" width="128px">
        <a href="{{ url_for('static', filename=img['image_path']|safe) }}"
            data-sub-html=".caption">
            <img src=" {{ url_for('static', filename=img['thumbnail_path']|safe) }}" />
            <div class="caption border rounded" width="128px">
                <p class="text-justify">{{ img['message'] }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lightgallery").lightGallery({
            subHtmlSelectorRelative: true
        });
    });
</script>
{% endblock %}