{% extends "layout.html" %}
{% set active_page = "timeline" %}

{% block content %}
<div class="text-center justify-content-center">
<iframe style="width:80vw; height:90vh; border:none;" src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1S82ADqd6tkhTin16ygDMv8xmcLc40Zgp319FbWRNmDs&font=Default&lang=en&initial_zoom=10&height=900"> </iframe>
</div>
<p class="text-center">Thanks to <a href="https://discordapp.com/users/648562632713961522">Edvin#1139</a> for the Timeline</p>
{% endblock %}