{% extends "layout.html" %}
{% set page_title = "Contributors" %}
{% set page_description = "List of contributors" %}
{% set active_page = "contributors" %}

{% block head %}
<style>
    .collapsing {
        -webkit-transition: none;
        transition: none;
        visibility: hidden;
    }

    .collapse.show {
        -webkit-transition: none;
        transition: none;
        visibility: visible;
    }
</style>
{% endblock %}

{% block content %}
<div class="container p-0">
    <iframe style="width:100%; height:100vh; border:none;"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQyl1PtNRqWdOqfe2Jq4VdCSngcke5iwngy0p_XvcgAk7qxkR2XhKSYnWRTD46VMk1jzcUWBy4AmIED/pub?embedded=true">
    </iframe>.
</div>
{% endblock %}