{% extends "layout.html" %}
{% set active_page = "gallery" %}

{% block head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lg-transitions.min.css"
    integrity="sha256-0vtvedekqwImzpY0zJYKRDDEiEWSGclW01CGiznyB4M=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"
    integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery-all.min.js"
    integrity="sha256-w14QFJrxOYkUnF0hb8pVFCSgYcsF0hMIKrqGb8A7J8A=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css" integrity="sha256-ZKOGvp7YVwX26g2d0ooDvbSBQSEiIi4Bd9FuK+12Zk0=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js" integrity="sha256-bIPvSCQ7+G5GbIXDt2B+9AMpCmFtxTVLU+aWAIPzL8I=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<iframe frameborder="0" width="100%" src="https://itch.io/embed/555939?bg_color=000000&amp;fg_color=ffffff&amp;link_color=0484d1&amp;border_color=333333"><a href="https://molasses-lover.itch.io/packpng-explorer">Molasses' PackPNG Explorer by Molasses</a></iframe>
</div>
<div id="mygallery">
    {% for img in images %}
    <a href="{{ url_for('static', filename=img['image_path']|safe) }}" data-sub-html="{{ img['message'] }}" title="{{ img['message'] }}">
        <img src=" {{ url_for('static', filename=img['thumbnail_path']|safe) }}" />
    </a>
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mygallery').justifiedGallery({
            lastRow: 'nojustify',
            rowHeight: 128,
            margins: 3
        }).on('jg.complete', function () {
            $(this).lightGallery({
                subHtmlSelectorRelative: true
            });
        });
    });
</script>
<div>
    {% endblock %}