{% extends "layout.html" %}
{% set active_page = "index" %}

{% block head %}
<style>
    .collapsing {
        -webkit-transition: none;
        transition: none;
        visibility: hidden;
    }

    .collapse.show {
        -webkit-transition: none;
        transition: none;
        visibility: visible;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center"> The pack.png project<br><small class="text-muted">to find the seed of the most iconic image
            in Minecraft
            history</small></h1>
    <img class="image-wrapper float-left pr-3" src="{{url_for('static', filename='pack.png')}}"
        alt="original pack.png" />
    <div class="single-post-content-wrapper p-3">
        <p class="text-justify">
            After 8 months of searching,     we've finally found the infamous pack.png seed! This is just a quick announcement to let you guys know we found it. Turns out it was in the last 5% of seeds we searched with MC@Home (BOINC), which means it’s a good thing we didn’t give up on it.
            Most of all, many thanks to everyone who helped out with the project! We seriously wouldn’t have been able to do it without you. Special shoutout to those who helped contribute compute power through MC@Home (BOINC)- you made what would have taken thousands of hours to complete on a single computer into something which ran in only a few days. If you’re interested, users niraami and zombie67 were lucky enough to be the ones whose computers processed the pack.png seed.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wZGPg6Ckp3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h3>3257840388504953787</h3>
        That's it, that's the seed. The coordinates are x=49, z=0.
    </div>
    <br>
</div>
{% endblock %}
