{% extends "layout.html" %}
{% set active_page = "index" %}

{% block head %}
<style>
    .collapsing {
        -webkit-transition: none;
        transition: none;
        visibility: hidden;
    }

    .collapse.show {
        -webkit-transition: none;
        transition: none;
        visibility: visible;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center"> The pack.png project<br><small class="text-muted">to find the seed of the most iconic image
            in Minecraft
            history</small></h1>
    <img class="image-wrapper float-left pr-3" src="{{url_for('static', filename='pack.png')}}"
        alt="original pack.png" />
    <div class="single-post-content-wrapper p-3">
        <p class="text-justify">
            The Packpng project was a Minecraft seedfinding effort to find the seed of the pack.png image seen to the side. The image appears as the default image in the Minecraft server selection screen. With the help of the <a href="https://minecraftathome.com/minecrafthome/">Minecraft@Home BOINC</a> (distributed computing) project, the seed has now been found. A full list of contributors can be found <a href="https://packpng.com/contributors/">here</a>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wZGPg6Ckp3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h3>3257840388504953787</h3>
        That's it, that's the seed. The coordinates are x=49, z=0.
    </div>
    <br>
</div>
{% endblock %}
